__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
venv/
.env
.env.*
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
docker-compose.override.yml
*.pid
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
local/
content/